
.search_input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 15px;
    width: 500px;
    margin: 0px auto;
    margin-top: 40px;
    border-radius: 999px;
    box-shadow: 0 10px 20px 3px #3b424214;

}
.search_input>input{
    flex: 1;
    padding: 8px 13px;
    font-size: medium;
    border: 0;
    outline: 0;

}
.searchicon{
    color: gray;
}
.search_buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /* border-radius: 50px;
    margin: 5px 10px; */

}
.search_buttons button{
    margin: 5px;
    background: #f8f8f8;
    border: 1px solid white;
    text-transform: inherit;
    color: black;
}
.search_buttons button:hover{
    margin: 5px;
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: black;

}
.icon:hover{
    cursor: pointer;
}
input:focus::placeholder {
    color: transparent;
  }